@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body {
    font-family: 'Noto Sans',
        sans-serif;
    background: #f9f4ef;
}

h1,
h2,
.title {
    color: #020826;
}
